<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../js/popup.js"></script>
    <link href="../bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/popup.css" rel="stylesheet">
  </head>

  <body>

    <!-- <button type="button" class="btn btn-primary" id="showtoolbarbtn"> Show ToolBar </button> -->

    <div class="card">
      <div class="card-body container">
      <h2 class="card-title"> <img src="../icons/icon.png"/> NewsToolbar </h2>
      <h4> Settings </h4>

      <form>
        <label> Selected Sites </label>
        <ul class="list-group" id="selected"></ul>

        <label>Default News Sites</label>

        <div class="form-group" id="form-lstcheck"> onload? </div>

        <label>Custom New Site</label>
        <div class="container custom-group">
            <div class="card-body form-group">
              <label> Source Name </label>
              <input type="text" class="form-control" id="sname" placeholder="eg: CNN">
              <label> URL of Source </label>
              <input type="url" class="form-control" id="url" placeholder="eg: https://www.cnn.com/us">
              <label> CSS Selector for links </label>
              <input type="text" class="form-control" id="linkcss" placeholder="eg: .lstdiv">
              <label> CSS Selector for Contents </label>
              <input type="text" class="form-control" id="contentcss" placeholder="eg: .content">
            </div>
          </div>
          <button type="button" class="btn btn-secondary addBtn" id="addBtn"></button>



        <!-- <button class="btn btn-primary submitBtn" type="submit" id="submitBtn"> Update </button> -->
      </form>
    </div>
  </div>

  </body>


</html>
