<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../js/popup.js"></script>
    <link href="../bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/popup.css" rel="stylesheet">
  </head>

  <body>

    <button type="button" class="btn btn-primary" id="showtoolbarbtn"> Show ToolBar </button>

    <div class="container">
      <h2> <img src="../icons/icon.png"/> NewsToolbar </h1>
      <h4> Settings </h4>

      <form>
        <label>Default News Sites</label>
        <div class="form-group" id="form-lstcheck"> onload? </div>

        <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label> Enter the url of your favorite news website </label>
              <input type="url" class="form-control" id="url" placeholder="eg: https://www.cnn.com/us">
              <label> CSS Selector for links </label>
              <input type="text" class="form-control" id="linkcss" placeholder="eg: .lstdiv">
              <label> CSS Selector for Contents </label>
              <input type="text" class="form-control" id="contentcss" placeholder="eg: .content">

            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-secondary addBtn" onclick="addAnother()"></button>
          </div>
          </div>
        </div>
        <button class="btn btn-primary submitBtn" type="submit" id="submitBtn"> Update </button>
      </form>


  </body>


</html>
